body{
    font-family: 'DM Sans', sans-serif;
}

.header{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    position: relative;
}

.navbar{
    width: 100%;
    display: flex;
    border-radius: 20px;
    margin-top: 25px;
    background-color: #e0dede;
}

.logo{
    width: 100px;
    height: 100px;
    background-color: #92140C;
    border-radius: 10px;
    position: absolute;
}

.img-logo{
    width: 100px;
    height: 100px;
}

.navbar-brand-l{
    margin-left: 225px;
}

.navbar-brand-r{
    margin-right: 225px;
}

.nav-l{
    display: flex;
    justify-content: left;
    width: 50%;
}

.nav-r{
    display: flex;
    justify-content: right;
    width: 50%;
}

.navbar-brand-l:hover{
    font-weight: bold !important;
}

.navbar-brand-r:hover{
    font-weight: bold !important;
}

#contact:hover{
    font-weight: normal !important;
    color: white;
}

.divider {
    margin-top: 45rem;
    display: flex;
}

.rotated {
    width: 2rem;
    height: 2rem;
    border: 2px solid black;
    transform: rotate(45deg);
    position: relative;
    margin-left: 2900%;
    background-color: white;
}
  
hr {
    border: 1px solid black;
    position: absolute;
    width: 100%;
}

.maps-container {
    position: absolute;
    width: 50%;
}